// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  min-height: calc(100dvh - 55px);
  .intro-text {
    margin-top: 55px;
    padding-top: 45px;
    padding-bottom: 40px;
    .intro-lead-in {
      font-size: 29px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 20px;
      @include serif-font;
	  br { display: none }
    }
    h1 {
      font-size: 30px;
    }
    .intro-heading {
      font-size: 30px;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
      max-width: 450px;
      margin: 0 auto 20px auto;
      @include heading-font;
    }
    .btn {
      background-color: rgba(250, 122, 47, 0.65);
    }
  }
}
.btn-xl {
  padding: 10px 25px;
}
@media (min-width: 768px) {
  header.masthead {
    min-height: 100vh;
    .intro-text {
      margin-top: 0;
      padding-top: 320px;
      padding-bottom: 220px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
	    br { display: inline }
      }
      .intro-heading {
        font-size: 38px;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
        max-width: 450px;
        margin: 0 auto 50px auto;
        @include heading-font;
      }
      .btn {
        background-color: rgba(250, 122, 47, 0.65);
      }
    }
  }
  .btn-xl {
    padding: 20px 40px;
  }
}
